configuration {
    modi: "run,drun";
    theme: "gruvbox-transparent-dark";
    location: 2;
    font: "Fira Code 14";
    show-icons: true;
    icon-theme: "Qogir";
    terminal: "kitty";
}
@import "/home/archbox/.config/rofi/themes/gruvbox-transparent-dark.rasi"
