/* ==========================================================================
   File: gruvbox-common.rasi
   Desc: Shared rules between all gruvbox themes
   Author: bardisty <b@bah.im>
   Source: https://github.com/bardisty/gruvbox-rofi
   Modified: Mon Feb 12 2018 06:06:47 PST -0800
   ========================================================================== */

